.caixa-d-top{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-top: 35px;  
}
.comanda-items{
    width: 100%;
    padding-top: 10px;
}
.caixa-c{
    width: 100%;
    display: flex;
}
.item-c{
    width: 100%;
    display: flex;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.item-c-1{
    width: 30%;
    padding-left: 10px;
   
}
.item-c-2{
    width: 70%;
    display: grid;
    place-items: center;
}
.caixa-d{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.caixa-d-items{
    width: 50%;
    padding-bottom: 5px;
    display: grid;
    place-items: center;
}
.caixa-d-interna{
    width: 90%;
    height: 45px;
    display: grid;
    place-items: center;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}