.comanda-pizza-top{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-top: 25px;
}
.comanda-items{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    background-color: rgb(255, 53, 53);
}
.caixa-c{
    width: 100%;
    display: flex;
}
.item-c{
    width: 95%;
    display: flex;
}
.item-c-1{
    width: 50%;
    padding-left: 10px;
}
.item-c-2{
    width: 50%;
    display: grid;
    place-items: center;
}
.caixa-d{
    display: flex;
    padding-left: 10px;
}
.caixa-d-items{
    width: 20%;
    display: grid;
    place-items: center;
}