.comanda-main{
    width: 100%;
    padding-top: 10px;
}
.bloco-info-comanda{
    width: 100%;
    display: flex;
}
.box-info-comanda{
    width: 100%;
    display: flex;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.comanda-tamanho{
    width: 30%;
    padding-left: 10px;
   
}
.comanda-total{
    width: 70%;
    display: grid;
    place-items: center;
}

.comanda-bar-selecionados{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.comanda-selecionados{
    width: 50%;
    padding-bottom: 5px;
    display: grid;
    place-items: center;
}
.comanda-bar-selecionados-top{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-top: 35px;  
}
.box-selecionados{
    width: 90%;
    height: 45px;
    display: flex;
    place-items: center;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.comandaNomeSabor{
    width: 70%;
    display: grid;
    place-items: center;
}