.loginHeaderTopo{
    position: fixed;
    top: 0;
    background-color: #fc740d;
    height: 40px;
    width: 100%;
    display: flex;
    z-index: 999;
    justify-content: flex-end;
}
.loginHeaderBody{
    margin-top: 40px;
    min-height: 150px;
    background-image: url('../../../imagens/banner1.fw.webp');
    background-size: 100% 100%;
    
}
.login-logo-resta{
    display: block;
    height: 100px;
    width: 120px;
    margin: auto;
    padding-top: 50px;
}
.login-logo-garline-header {
    width: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
}
.login-logo-garline {
    aspect-ratio: 4 / 1;
    height: 20px;
    background-image: url('../../../imagens/logo.fw.png');
    background-size: 100% 100%;
}