@font-face {
    font-family: "Roboto-Light";
    src: url('../../../../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../../../../fontes/roboto/Roboto-Bold.ttf');
}
.PizzasInfo{
    padding-top: 50px;
}
.pizzasInfoDescricao{
    margin: 5px;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
}
.pizzaInfoTamanho{
    margin: 5px;
    font-family: "Roboto-Bold";
}
.pizzasInfoCaixaSabores{
    display: flex;
    flex-wrap: wrap;
}
.pizzasInfoSabores{
    width: 45%;
    margin: 5px;
    font-family: "Roboto-Light";
}