@font-face {
    font-family: "Roboto-Light";
    src: url('../../../../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../../../../fontes/roboto/Roboto-Bold.ttf');
}
.PizzasInfo{
    padding-top: 50px;
}
.pizzasInfoDescricao{
    margin: 5px;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
}
.pizzaInfoTamanho{
    margin: 5px;
    font-family: "Roboto-Bold";
}
.pizzasInfoCaixaSabores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pizzasInfoSabores{
    width: 45%;
    margin: 5px;
    display: flex;
}
.iconeInfo{
    height: 25px;
    aspect-ratio: 1 / 1;
    background-image: url('../../../../imagens/iconePizza.png');
    background-size: 100% 100%;
}
.nomeInfo{
    margin-left: 5px;
    font-family: "Roboto-Light";
    font-size: 14px;
}