*{
    padding: 0;
    margin: 0;
}
.main-pizza{
    width: 100%;
    height: 100%;
}

.corpo-pizza{
    display: grid;
    width: auto;
    height: auto;
    padding-top: 10px;
    place-items: center;
}
.carrinho{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: grid;
    place-items: center;
}
.caixa-carrinho{
    border: 0 none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: inset 0px 11px 8px -10px rgb(0, 0, 0, 1), inset 0px -11px 8px -10px rgba(0,0,0,1);
}
.botao-adicionar{
    width: 80px;
    height: 30px;
    font-size: 12px;
    border: 0 none;
    border-radius: 7px;
    background-color: rgba(139, 2, 2, 0.705);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,1);
}