@font-face {
    font-family: "edosz.ttf";
    src: local("edosz.ttf"),
     url("../../../../fonts/edosz.ttf") ;
    }
.corpo-adicionais{
    width: 100%;
    height: auto;
    padding-top: 15px;
}
.items-information{
    width: 99%;
    min-height: 50px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    box-shadow: 0px 7px 25px 12px #4E0000;
    border: none;
}
.itemB{
    width: 100%;
    height: auto;
}
.itemAdd{
    width: auto;
    padding: 5px;
}
.caixa-add{
    width: 99%;
    height: 50px;
    padding-top: 10px;
    display: flex;
}
.item1{
    width: 40%;
    display: grid;
    place-items: center;
    font-family: "edosz.ttf";
    font-size: 20px;
}
.item2{
    width: 20%;
    display: grid;
    place-items: center;
}
.item3{
    width: 10%;
    display: grid;
    place-items: center;
}
.item4{
    width: 30%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8MwG_nQ3MmtNO62z7jCb3xi-oHJDBJe38aA&usqp=CAU");
    background-size: 100% 100%;
}