.corpo-adicionais{
    width: auto;
    height: auto;
    padding-top: 15px;
}
.selected-adds-information{
    height: 120px;
    width: 100%;
}
.lista-Adicionais{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-Adicionais{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.todos-items-Adicionais {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-Adicionais{
    width: 100%;
    border-bottom: double;
}
.box-item-Adicionais{
    min-height: 70px;
    margin-left: 5px;
    display: flex;
}
.box-info-Adicionais{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.box-info-Adicionais-1{
    height: 30%;
    display: flex;
}
.box-name-Adicionais{
    width: 50%;
    display: grid;
    place-items: center;
}
.box-valor-Adicionais{
    width: 50%;
    display: grid;
    place-items: center;
}
.box-info-Adicionais-2{
    height: 70%;
}
.box-selecionar-Adicionais{
    width: 20%;
}
