
.adicional {
    margin-bottom: 20px;
  }
  
  .adicional h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .adicional p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .adicional button {
    margin-right: 5px;
  }
  
  .adicional span {
    margin: 0 5px;
  }