.adicionais-info{
    display: flex;
}
.box-info-1{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.info-nome{
    height: 40%;
    display: grid;
    place-items: center;
}
.info-descricao{
    height: 60%;
    margin: 3px;
}
.box-info-2{
    width: 40%;
}
