@font-face {
    font-family: "Roboto-Light";
    src: url('../../../../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../../../../fontes/roboto/Roboto-Bold.ttf');
  }
.lista-tamanhos{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.titulo-Tamanhos{
    font-family: "Roboto-Bold";
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: #DBDBDB;
    height: 50px;
}
.Card-tamanhos{
    display: flex;
    margin: 5px;
    height: 30px;
    place-items: center; 
    border: solid;
    border-radius: 5px;
    border-width: 0.5px;
}
.box-tamanhos-1{
    width: 40%;
}
.tamanhos-nome{
    padding-left: 10px;
    font-size: 14px;
    font-family: "Roboto-Bold";
}
.box-tamanhos-2{
    width: 40%;
}
.tamanhos-valor{

}
.Card-Icon{ 
    width: 20%;
    display: grid;
    place-items: center;
}
input[type="radio" i] {
    background-color: transparent;
    appearance: none;
    border: none;
}
.iconePrato-apagado{
    height: 40px;
    aspect-ratio: 1 / 1;
    background-image: url('../../../../imagens/iconePratoApagado.png');
    background-size: 100% 100%;
}
.iconePrato-acesso{
    height: 40px;
    aspect-ratio: 1 / 1;
    background-image: url('../../../../imagens/iconePratoAcesso.png');
    background-size: 100% 100%;
}