.lista-tamanhos{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-evenly;
}
.titulo-Tamanhos{
    display: grid;
    place-items: center;
    font-size: 25px;
    font-weight: 600;
}
.Card-tamanhos{
    width: 45%;
    margin-top: 10px;
}
.Card-tamanhos-inner{
    --mask: radial-gradient(2px at 0 75%,#0000 98%,#000) 2px 50%/51% 8px repeat-y, radial-gradient(2px at 50% 25%,#000 99%,#0000 101%) left/4px 8px repeat-y, radial-gradient(2px at 100% 25%,#0000 98%,#000) calc(100% - 2px) 50%/51% 8px repeat-y, radial-gradient(2px at 50% 75%,#000 99%,#0000 101%) right/4px 8px repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background-color: rgb(228, 67, 67);
    display: flex;
    padding: 10px;    
}
.Card-tamanhos-Descricao{
    width: 80%;
    display: grid;
    place-items: center;
}
.box-tamanhos-1{

}
.tamanhos-nome{
    font-size: 20px;
}
.box-tamanhos-2{

}
.tamanhos-valor{

}
.Card-Icon{ 
    width: 20%;
    display: grid;
    place-items: center;
}