.cart-item-valor-total{
    display: flex;
    height: 50px;
}
.cart-total-valor{
    width: 40%;
    display: grid;
    place-items: center;
}
.cart-quantia{
    width: 30%;
    display: grid;
    place-items: center;
    padding-left: 10px;
}
.box-itemquantia{
    width: 30%;
    display: flex;
}
.cart-btn-quantia{
    width: 40%;
    display: grid;
    place-items: center;
}
.cart-item-quantia{
    width: 20%;
    display: grid;
    place-items: center;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.noselect {
    width: 93%;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}   
.noselect, .noselect span {
    transition: 200ms;
}
.noselect .text {
    transform: translateX(25px);
    color: white;
    font-weight: bold;
}
.noselect .icon {
    position: absolute;
    transform: translateX(80px);
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noselect svg {
    width: 15px;
    fill: #eee;
}
.noselect:hover {
    background: #ff3636;
}
.noselect:hover .text {
    color: transparent;
}
.noselect:hover .icon {
    width: 115px;
    border-left: none;
    transform: translateX(0);
}
.noselect:focus {
    outline: none;
}
.noselect:active .icon svg {
    transform: scale(0.8);
}