.caixa-cart-items{
    width: auto;
    display: flex;
    flex-direction: column;
}
.carde-cart{
    height: 180px;
}
.cart-item1{
    display: flex;
    flex-direction: column;
    height: 30%;
}
.cart-item2{
    height: 70%;
}
.cart-itemname-card{
    display: flex;
}
.cart-item1-column-1{
    height: 30%;
}
.cart-item-2-name{
    height: 25%;
    display: grid;
    place-items: center;
}
.cart-item-2-dsc{
    height: 75%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.descricao-descricao{
    padding-left: 5px;
    display: block;
    max-height: 100%;
    scroll-behavior: auto;
    overflow-y: scroll;
}
.cart-itemname-card-1{
    width: 80%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}
.cart-itemname-card-2{
    width: 20%;
}

.cart-item-valor{
    display: flex;
    height: 50px;
}
.titulo-descricao{
    display: grid;
    place-items: center;
}
.cart-valor-valor{
    width: 40%;
    display: flex;
    padding: 5px;
}
.cart-quantia{
    width: 30%;
    display: grid;
    place-items: center;
    padding-left: 10px;
}
.cart-caixa-valores{
    width: 30%;
    display: flex;
}
.cart-val1{
    width: 40%;
    display: grid;
    place-items: center;
}
.cart-q{
    width: 20%;
    display: grid;
    place-items: center;
}
.cart-val2{
    width: 40%;
    display: grid;
    place-items: center;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.noselect {
    width: 93%;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}   
.noselect, .noselect span {
    transition: 200ms;
}
.noselect .text {
    transform: translateX(25px);
    color: white;
    font-weight: bold;
}
.noselect .icon {
    position: absolute;
    transform: translateX(80px);
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noselect svg {
    width: 15px;
    fill: #eee;
}
.noselect:hover {
    background: #ff3636;
}
.noselect:hover .text {
    color: transparent;
}
.noselect:hover .icon {
    width: 115px;
    border-left: none;
    transform: translateX(0);
}
.noselect:focus {
    outline: none;
}
.noselect:active .icon svg {
    transform: scale(0.8);
}