.search-bar{
  height: auto;
  width: auto;
  padding: 10px;
}
.search-box{
  display: flex;
}
.input {
  width: 85%;
  height: 30px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  background: #e8e8e8;
  border: none;
  border-radius: 10px;
  transition: all .5s;
}

.input:focus {
  background: #e8e8e8;
}
.btn-box{
  width: 30%;
  display: grid;
  place-items: center;
}
.btn-search{
  width: 60%;
  height: 100%; 
  border: 0;
  border-radius: 15px;
  background: #e8e8e8;
}