.adds-1{
    width: 100%;
    display: flex;
}
.items-1{
    display: grid;
    place-items: center;
    width: 15%;
}
.item-00{
    width: 100%;
    display: flex;
    place-items: center;
}
.item-002{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.item-005{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.caixa-2-22{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
    
}
.add-bar-body{
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 10px;
}
.cont-bar-body{
    width: 97%;
    height: auto;
    display: grid;
}
.caixa-bar-body-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    width: auto;
    height: 50px;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.bar-add-t-name{
    display: grid;
    place-items: center;
}
.bar-add-t-tamanho{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    place-items: center start;
}
.caixa-bar-body-2{
    display: grid;
    place-items: center;
}
.caixa-bar-body-3{
    display: grid;
    place-items: center;
    padding-top: 10px;
}
.bar-escolhidos-add{
    display: flex;
    flex-wrap: wrap;
}
.bar-escolhidos-add-00{
    padding: 5px;
}
.bar-escolhidos-add-11{
    padding: 7px;
    width: 75px;
    height: 50px;
    display: grid;
    place-items: center;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.caixa-add-total{
    width: 70%;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.total-00{
    display: flex;
    padding: 10px;
}
.total-valor{
    width: 60%;
    display: grid;
    place-items: center;
}
.total-button{
    width: 40%;
    display: grid;
    place-items: center;
}
.bar-add-t-tamanho{
    display: grid;
    place-items: center;
}