.totalAdd-tamanho{
    display: flex;
    padding: 10px;
}
.total-valor{
    width: 60%;
    display: grid;
    place-items: center;
}
.total-button{
    width: 40%;
    display: grid;
    place-items: center;
}