.tamanho-body{
    width: auto;
    height: auto;
}
.caixa-00{
    width: auto;
    height: auto;
    display: flex;
}
.caixa-1111{
    width: 20%;
    height: auto;
    display: grid;
    padding: 1px;
}
.bloco-items-tamanho{
    display: flex;
    flex-direction: column;
    background-image: url('https://i.pinimg.com/originals/3c/65/0a/3c650a149986773eb80c4a91a4139c48.jpg');
    background-size: 100% 100%;
}
.item-tamanho-1{
    height: 25%;
    display: grid;
    place-items: center;
    padding: 5px;
}
.item-tamanho-2{
    height: 40%;
    display: grid;
    place-items: center;
    padding: 5px;
}
.item-tamanho-3{
    height: 50%;
    min-height: 50px;
}
.titulo-tamanhos{
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: 600;
}