.lista-historico{

}
.historicoItem-box{
    display: flex;
    flex-direction: column;
}
.historico-date{
    display: grid;
    place-items: center;
    margin: 10px;
    background-color: aqua;
}
.AddToCar-Historico{
    display: grid;
    place-items: center end;
}
.btn-historico{
    border: none;
    display: grid;
}