@font-face {
  font-family: "Roboto-Bold";
  src: url('../../../../fontes/roboto/Roboto-Bold.ttf');
  font-family: "Roboto-Light";
  src: url('../../../../fontes/roboto/Roboto-Light.ttf');
}
.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
} 
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal {
    min-width: 250px;
    min-height: 170px;
    background: white;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}
.modalContent {
    font-size: 14px;
    padding: 10px;
    font-family: "Roboto-Light";
}
.modalItems{
  display: grid;
}
.modalProduto{
  display: grid;
  place-items: center;
  font-family: "Roboto-Bold";
  font-size: 14px;
  margin: 3px;
}
.modalFicha{
  font-family: "Roboto-Light";
  font-size: 12px;
  margin: 3px;
}
.modalTamanho{
  font-family: "Roboto-Light";
  font-size: 13px;
  margin: 3px;
  display: grid;
  place-items: center;
}
.modalObsevacoes{
  font-family: "Roboto-Light";
  font-size: 12px;
  margin: 3px;
}
.modalAdicionais{
  font-family: "Roboto-Light";
  font-size: 12px;
  margin: 3px;
}
.modalValor{
  display: flex;
  margin: 5px;
  margin-right: 10px;
  font-family: "Roboto-Light";
  font-size: 14px;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.AddCartModal {
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    font-family: "Roboto-Light";
    font-size: 14px;
    background-color: rgb(141, 247, 141);
    border: none;
    border-radius: 0 0 10px 10px;
}
.modalSabores{
  display: grid;
}
.modalSaboresProduto{
  font-family: "Roboto-Light";
  font-size: 13px;
}
.modalSaboresFicha{
  margin-left: 10px;
  font-family: "Roboto-Light";
  font-size: 12px;
}


.closeBtn{
  position: absolute;
  right: -10px;
  top: -10px;
  border: none;
  background-color: transparent;
}
.iconeBtnCloseModal{
  height: 30px;
  width: 30px;
  border-radius: 9px;
  background-image: url('../../../../imagens/iconeFechar.png');
  background-size: 100% 100%;
}