.tituloEnderecos{
    display: flex;
    background-color: #DBDBDB;
    height: 50px;
    align-content: center;
    flex-wrap: wrap;
}
.iconeEndereco{
    margin-left: 10px;
    height: 34px;
    width: 34px;
    background-image: url('../../../../imagens/iconeEndereço.png');
    background-size: 100% 100%;
}
.nomeEndereco{
    margin-left: 8px;
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
    font-size: 18px;
}
.endereco{
    display: flex;
    flex-direction: column;   
}
.descricaoendereco{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid;
    border-width: 0.5px;
    background-color: #fc740d;
    margin: 5px;
    padding: 5px;
}
.enderecoApelido{
    font-size: 16px;
    margin-left: 20px;
    display: flex;
}
.textoApelido{
    width: 60%;
    font-family: "Roboto-Bold";
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.caixaBtnExpandir{
    width: 20%;
    display: grid;
    place-items: center;
}
.tamanhoIcone{
    height: 30px;
    width: 30px;
}
.iconeEnderecoUp{
    background-image: url('../../../../imagens/enderecoCima.png');
    background-size: 100% 100%;
}
.iconeEnderecoDown{
    background-image: url('../../../../imagens/enderecoDown.png');
    background-size: 100% 100%;
}
.caixaEndereco{
    display: flex;
    font-size: 12px;
}
.enderecoRua{
    width: 80%;
}
.enderecoNumero{
    width: 20%;
    margin-left: 5px;
}
.tituloRua{
    font-size: 12px;
    padding: 0 5px;
    background-color: #fc740d;
    position: relative;
    width: fit-content;
    margin: 0 0 0 5px;
    top: 9px;
    z-index: 0;
}
.textoRua{
    padding: 8px 8px;
    font-size: 13px;
    border: 0.5px black solid;
    border-radius: 5px;
}
.btnCadastrar{
    position: absolute;
    right: 5px;
    margin-top: 14px;
    border: none;
    background-color: transparent;
    background-color: #fc740d;
    padding: 5px;
    border-radius: 5px;
}

.btnMeusPedidos{
    position: fixed;
    top: 80px;
    right: 0;
    padding: 7px;
    border: none;
    background-color: #fc740d;
    border-radius: 5px 0 0 5px;
    font-family: "Roboto-Bold";
    font-size: 14px;
}



.btneditarendereco{
    width: 15%;
    display: grid;
    place-items: center;
}