.tituloEnderecos{
    display: grid;
    place-items: center;
    background-color: darkgray;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-family: "Roboto-Bold";
}
.endereco{
    display: flex;
    flex-direction: column;   
}
.descricaoendereco{
    display: flex;
    flex-direction: column;
    background-color: #fc740d;
    margin-top: 5px;
    padding: 5px;
}
.enderecoApelido{
    font-size: 16px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.caixaEndereco{
    display: flex;
    font-size: 12px;
}
.enderecoRua{
    width: 80%;
}
.enderecoNumero{
    width: 20%;
    margin-left: 5px;
}
.tituloRua{
    font-size: 12px;
    padding: 0 5px;
    background-color: #fc740d;
    position: relative;
    width: fit-content;
    margin: 0 0 0 5px;
    top: 9px;
    z-index: 0;
}
.textoRua{
    padding: 8px 8px;
    font-size: 13px;
    border: 0.5px black solid;
    border-radius: 5px;
}
.textoApelido{
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
}






.btneditarendereco{
    width: 15%;
    display: grid;
    place-items: center;
}