@font-face {
    font-family: "Roboto-Light";
    src: url('../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../fontes/roboto/Roboto-Condensed.ttf');
}

.MainCartList{
    margin-top: 50px;
}
.cartList{
    display: flex;
    flex-direction: column;
}
.cartTitulo{
    font-size: 16px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #DBDBDB;
    font-family: "Roboto-Bold";
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.iconeCarrinhoCart{
    margin-left: 10px;
    margin-right: 10px;
    height: 34px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/CarrinhoBlack.png');
    background-size: 100% 100%;
}
.carrinhoName{
    display: grid;
    place-items: center;
    font-size: 18px;
    font-family: "Roboto-Bold";
}
.cartListItems{
    display: flex;
    flex-direction: column;
}
.card-cart{
    margin: 5px;
    border: solid;
    border-radius: 5px;
    border-width: 0.5px;
    display: flex;
    min-height: 45px;
}
.cartBox-iconeLixeira{
    width: 15%;
    display: grid;
    place-items: center;
}
.btn-delete{
    appearance: none;
    border: none;
    background-color: transparent;
}
.lixeira{
    height: 35px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/iconeLixeira.png');
    background-size: 100% 100%;
}
.boxDescricao-nome{
    width: 40%;
    display: grid;
    place-items: center;
    margin-right: 5px;
}
.cartBox-valor{
    width: 45%;
    display: flex;
    margin-right: 5px;
}
.CartBox-valor{
    width: 100%;
    display: flex;
}
.cartTotal-valor{
    width: 50%;
    display: grid;
    place-items: center;
}
.boxFuncao-cart{
    width: 100%;
    display: flex;
    place-items: center;
}
.cart-btn-quantia{
    width: 40%;
    display: flex;
    justify-content: center;
}
.arrow{
    border: none;
    background-color: transparent;
}
.cart-item-quantia{
    width: 20%;
    display: grid;
    place-items: center;
}
.cartMinus{
    min-height: 30px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/iconeMenos.png');
    background-size: 100% 100%;
}
.cartPlus{
    min-height: 30px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/iconeMais.png');
    background-size: 100% 100%;
}
.barraTotalCartList{
    font-size: 16px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #DBDBDB;
    font-family: "Roboto-Bold";
    display: flex;
    justify-content: space-between;
}
.totalCartList{
    display: grid;
    place-items: center;
    margin-right: 20px;
    font-family: "Roboto-Bold";
    font-size: 18px;
}



.card-btn-continuar{
    position: fixed;
    bottom: 50px;
    left: 0;
    height: 50px;
    width: 100px;
    background-color: rgb(245, 98, 98);
    border-radius: 0 50px 50px 0;
    display: grid;
    place-items: center;
}
.btn-continuar{
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.card-total-pagar{
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 110px;
    right: 0;
    height: 50px;
    width: 100px;
    background-color: rgb(245, 98, 98);
    border-radius: 50px 0 0 50px;
}
.card-btn-pagar{
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 50px;
    right: 0;
    height: 50px;
    width: 100px;
    background-color: rgb(245, 98, 98);
    border-radius: 50px 0 0 50px;
}
.btn-pagar{
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.totalcart{
    display: grid;
    place-items: center;
}

