@font-face {
  font-family: "Roboto-Light";
  src: url('../fontes/roboto/Roboto-Light.ttf');
  font-family: "Roboto-Bold";
  src: url('../fontes/roboto/Roboto-Bold.ttf');
  font-family: "Roboto-Condensed";
  src: url('../fontes/roboto/Roboto-Condensed.ttf');
}
.pagina{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Main{
  flex: 1;
}
/* Grupo List */
.lista-Main-Page{
  padding-bottom: 90px;
}
.GrupoList{
    display: flex;
    flex-direction: column;
}
.Grupo-Titulo{
    display: grid;
    place-items: center; 
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #DBDBDB;
    font-family: "Roboto-Bold";
}
/* pizzaMista */
.icon-grupoTamanho{
  position: relative;
  top: -45px;
  left: 86%;
  height: 30px;
  width: 30px;
  display: grid;
}
/* SubGrupo List */
.box-subgrupos{
    margin-bottom: 5px;
}
.subgrupos{
    height: 35px;
    display: flex;
    background-color: #EFEFEF;
    font-family: "Roboto-Condensed";
}
.subgrupo-titulo{
    width: 80%;
    padding-left: 10px;
    margin: 5px;
    display: grid;
    place-items: center start;
}
.box-subgrupo-icon{
    width: 20%;
    display: grid;
    place-items: center;
}
.subgrupo-icon{
    height: 30px;
    width: 30px;
    display: grid;
}
.icone-setaDown{
  background-image: url('../imagens/down.fw.png');
  background-size: 100% 100%;
}
.icone-setaUp{
  background-image: url('../imagens/up.fw.png');
  background-size: 100% 100%;
}
/* Produto List */
.lista-produtos{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-family: "Roboto-Condensed";
}
.card-produtos{
    height: auto;
    margin: 5px;
    border-radius: 5px;
    border: solid;
    border-width: 0.1px
}
.box-produtos{
    display: flex;
}
.produtos-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    -webkit-animation: slide-in-left 0.5s both;
	        animation: slide-in-left 0.5s both;
}
.produto-nome{
    height: 60%;
    font-size: 15px;
    -webkit-animation: slide-in-left 0.5s both;
	      animation: slide-in-left 0.5s both;
    display: flex;
    flex-direction: column;
}
.item-nome{
    height: 30%;
    display: grid;
    place-items: center start;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 20px;
}
.produto-ingredientes{
    height: 70%;
    margin: 8px;
    word-break: break-all;
    font-size: 12px;
    font-family: "Roboto-condensed";
}
.produto-valor{
    height: 40%;
    display: grid;
    place-items: center start;
}
.box-valor{
  padding: 5px 10px 5px 10px;
  display: grid;
  place-items: center; 
  text-align: center;
  font-weight: 700;
}
.produtos-img{
    width: 30%;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: flex-end;
    -webkit-animation: slide-in-right 0.5s both;
        animation: slide-in-right 0.5s both;
}
.img-produto{
  border-radius: 0 4px 4px 0;
  height: 100%;
  max-width: 100%;
}
.pizza-img{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  -webkit-animation: slide-in-right 0.5s both;
      animation: slide-in-right 0.5s both;
}
.pizza-png{
  width: 120px;
  height: 120px;
  border-radius: 0 4px 4px 0;
  background-image: url('https://t3.ftcdn.net/jpg/05/60/42/26/360_F_560422609_3nv30UESgwV4988d3rnk9yMJaGXw5x4T.jpg');
  background-size: 100% 100%;
}
  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }