*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Roboto-Light";
    src: url('../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
}
/* Login */
.MainLogin{
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f0eeee;
    border-radius: 5px;
}
.MainLoginTexto{
    padding: 10px;
    font-family: "Roboto-Light";
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
    font-size: 20px;
}
.loginBoxDados{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.BoxNome{
    height: 40px;
    background-color: #DBDBDB;
    margin: 5px;
    border-radius: 5px;
    font-family: "Roboto-Light";
}
.inputLogin{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.btnLogin{
    min-height: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(58, 180, 58);
    font-family: "Roboto-Bold";
    font-size: 18px;
    color: white;
    border: none;
}
/* Login Header */
.loginHeaderTopo{
    position: fixed;
    top: 0;
    background-color: #fc740d;
    height: 40px;
    width: 100%;
    display: flex;
    z-index: 999;
    justify-content: flex-end;
}
.loginHeaderBody{
    margin-top: 40px;
    min-height: 150px;
    background-image: url('../imagens/banner1.fw.webp');
    background-size: 100% 100%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.login-logo-resta{
    position: absolute;
    height: 100px;
    width: 120px;
    top: 100px;
    left: calc(50vw - (/* width */120px / 2)); 
}
.login-logo-garline-header {
    width: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
}
.login-logo-garline {
    aspect-ratio: 4 / 1;
    height: 20px;
    background-image: url('../imagens/logo.fw.png');
    background-size: 100% 100%;
}