@font-face {
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../fontes/roboto/Roboto-Condensed.ttf');
}
.carrinho{
    position: fixed;
    bottom: 40px; 
    left: 20px;
    right: 20px;
    height: 60px;
    border-radius: 5px;
    background-color: #FD4B2D;
    color: white;
    font-family: "Roboto-Condensed";
}
.caixa-carrinho{
    height: 100%;
    display: flex;
    place-items: center;
}
.margin1{
    margin-left: 10px;
}
.margin2{
    margin-right: 10px;
}
.quantidade-cart{
    width: 25%;
    display: flex;
    place-items: center;
    justify-content: space-evenly;
}
.totalQuantidade-cart-svg{
    height: 30px;
    width: 30px;
}
.img-cartCheio{
    height: 100%;
    width: 100%;
    background-image: url('../imagens/icons8-carrinho-de-compras-carregado-30.png');
    background-size: 100% 100%;
}
.img-cartVazio{
    height: 100%;
    width: 100%;
    background-image: url('../imagens/icons8-carrinho-de-compras-30.png');
    background-size: 100% 100%;
}
.text-cart{
    width: 50%;
    display: flex;
    justify-content: center;
}
/* OBSERVACOES DO CARRINHO */
.observacoesTitulo{
    font-size: 16px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #DBDBDB;
    font-family: "Roboto-Bold";
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.observacoesIcone{
    margin-left: 10px;
    margin-right: 10px;
    height: 34px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/iconePadNote.png');
    background-size: 100% 100%;
}
.observacoesNome{
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
    font-size: 18px;
}
.observacoesCart{
    height: 60px;
    margin: 5px;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.observacoesCart-text {
    font-size: 14px;
    height: 90%;
    width: 98%;
    border: none;
    background-color: transparent;
    color: black;
    font-family: "Roboto-Light";
}