/* Grupo List */
.GrupoList{
    display: flex;
    flex-direction: column;
}
.Grupo-Titulo{
    display: grid;
    place-items: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #EEEEEE;
}
/* pizzaMista */
.icon-grupoTamanho{
  position: relative;
  top: -45px;
  left: 86%;
  height: 30px;
  width: 30px;
  display: grid;
}
/* SubGrupo List */
.box-subgrupos{
    margin-bottom: 5px;
}
.subgrupos{
    height: 35px;
    display: flex;
    background-color:  #F4F4F4;
}
.subgrupo-titulo{
    width: 80%;
    padding-left: 10px;
    margin: 5px;
    display: grid;
    place-items: center start;
}
.box-subgrupo-icon{
    width: 20%;
    display: grid;
    place-items: center;
}
.subgrupo-icon{
    height: 30px;
    width: 30px;
    display: grid;
}
.icone-setaDown{
  background-image: url('../imagens/down.fw.png');
  background-size: 100% 100%;
}
.icone-setaUp{
  background-image: url('../imagens/up.fw.png');
  background-size: 100% 100%;
}
/* Produto List */
.lista-produtos{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.card-produtos{
    height: auto;
    margin: 5px;
    border: solid;
    border-radius: 5px;
}
.box-produtos{
    display: flex;
    min-height: 110px;
}
.produtos-info{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.produto-nome{
    height: 60%;
    padding-top: 5px;
    display: grid;
    padding-left: 5px;
    font-size: 15px;
    word-break: normal;
    -webkit-animation: slide-in-left 0.5s both;
	        animation: slide-in-left 0.5s both;
}
.item-nome{
    width: 80%;
}
.produto-ingredientes{
    padding-left: 15px;
    word-break: normal;
}
.produto-valor{
    height: 40%;
    display: grid;
    place-items: center start;
    -webkit-animation: slide-in-left 0.5s both;
	        animation: slide-in-left 0.5s both;
}
.box-valor{
  padding: 5px 10px 5px 10px;
  display: grid;
  place-items: center; 
  text-align: center;
}
.produtos-img{
    width: 30%;
    background-image: url('https://media.gettyimages.com/id/1295796231/pt/foto/cheese-burger-with-bacon-on-black-dark-background.jpg?s=170667a&w=gi&k=20&c=Cwd1wP8q9UIyJ560nuuGh-8sfPy6JH1N7g5wXzKGqIw=');
    background-size: 100% 100%;
    border-radius: 0 5px 5px 0;
    -webkit-animation: slide-in-right 0.5s both;
        animation: slide-in-right 0.5s both;
}

  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }