@font-face {
    font-family: "Roboto-Light";
    src: url('../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../fontes/roboto/Roboto-Condensed.ttf');
}
.box-adicionais{
    display: flex;
    background-color: #EFEFEF;
    height: 60px;
    font-family: "Roboto-Condensed";
}
.adicionais-info{
    width: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.adicionais-titulo{
    height: 50%;
    font-family: "Roboto-Condensed";
    display: grid;
    place-items: center start;
}
.icon-adicionais{
    width: 20%;
    display: grid;
    place-items: center;
}
.box-iconAdd{
    height: 30px;
    width: 30px;
    display: grid;
}
.informacoes-quantidade{
    height: 50%;
    display: flex;
}
.caixa-quantidades{
    width: 120px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ff706b;
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
    font-size: 14px;
}
.obrigatorio{

}
.maximo{
}   
.escolhido{
}
.AdicionaisList{
    height: auto;
    width: auto;
}
.Card-Adicionais{
    margin: 3px;
    display: flex;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: white;
    place-items: center;
    height: 40px;
}
.box-descricao-adicional{
    width: 60%;
}
.adicional-nome{
    font-size: 14px;
    font-family: "Roboto-Light";
    margin-left: 10px;
}
.adicional-valor{
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
}
.box-valor-adicional{
    width: 20%;
}
.boxfuncao-adicional{
    width: 20%;
}













.Card-Adicionais-Botoes{
    width: 30%;
    display: flex;
    place-items: center;
}
.btn-quantia-adicionais{
    width: 40%;
    display: grid;
    place-items: center;
}
.quantia-adicionais{
    width: 20%;
    display: grid;
    place-items: center;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.ObservacoesAdicionais{
    width: auto;
    height: 150px;
    display: grid;
    place-items: center;
}
.ObservacoesAdicionais-box{
    width: 95%;
    height: 95%;
    --mask: radial-gradient(2px at 0 75%,#0000 98%,#000) 2px 50%/51% 8px repeat-y, radial-gradient(2px at 50% 25%,#000 99%,#0000 101%) left/4px 8px repeat-y, radial-gradient(2px at 100% 25%,#0000 98%,#000) calc(100% - 2px) 50%/51% 8px repeat-y, radial-gradient(2px at 50% 75%,#000 99%,#0000 101%) right/4px 8px repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background-color: #ffb56b;
    display: grid;
    place-items: center;
}
.ObservacoesAdicionais-text{
    font-size: 16px;
    height: 92%;
    width: 92%;  
    border: none;
    background-color: transparent;
    color: black;
}
.ObservacoesAdicionais-text:focus-visible {
    outline: none;
}