@font-face {
    font-family: "Roboto-Light";
    src: url('../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../fontes/roboto/Roboto-Condensed.ttf');
    font-family: "Roboto-CondensedItalic";
    src: url('../fontes/roboto/Roboto-CondensedItalic.ttf');
    font-family: "Roboto-Regular";
    src: url('../fontes/roboto/Roboto-Regular.ttf');
}
.titulo-SaboresPizza{
    display: grid;
    place-items: center;
    font-size: 16px;
    background-color: #DBDBDB;
    height: 50px;
    font-family: "Roboto-Bold";
    margin-bottom: 5px;
}
.Sabores-Quantidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.QTD{
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: #ff706b;
    margin: 5px;
    font-family: "Roboto-Light";
    border-radius: 5px;
    font-size: 13px;
    color: white;
}
.grupo-Sabores{
    display: flex;
    place-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    height: 35px;
    background-color: #DBDBDB;
    font-family: "Roboto-Condensed";
}
.text-Sabores{
    width: 80%;
    margin-left: 20px;
}
.icon-Sabores{
    width: 20%;
    display: grid;
    place-items: center;
}
.pizza-List-Main{
    display: flex;
    flex-direction: column;
}
.pizza-List{
}
.pizza-Card{
    height: 80px;
    display: flex;
    width: 100%;
    background-color: #f8f8f8;
    margin-bottom: 5px;
    font-family: "Roboto-Light";
}
.mudarFundoSaborPizza{
    background-color: #E9FEEE;
}
.pizza-info{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.pizzaSabor{
    height: 30%;
    margin: 5px;
    font-family: "Roboto-Bold";
}
.pizza-caixa2{
    height: 70%;
    display: flex;
}
.pizzaFicha{
    width: 100%;
    margin-left: 5px;
    font-family: "Roboto-CondensedItalic";
    font-size: 12px;
    word-break: break-all;
    margin-bottom: 3px;
}
.pizza-valor{
    display: grid;
    place-items: center;
    font-size: 14px;
    font-family: "Roboto-Regular";
}
.pizza-input{
    width: 25%;
    display: grid;
    place-items: center;
}
.MainPizza{
    background-color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 80vh;
}