@font-face {
    font-family: "Roboto-Light";
    src: url('../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../fontes/roboto/Roboto-Condensed.ttf');
}
.box-adicionais{
    display: flex;
    background-color: #EFEFEF;
    height: 60px;
    font-family: "Roboto-Condensed";
    margin-top: 5px;
}
.adicionais-info{
    width: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.adicionais-titulo{
    height: 50%;
    font-family: "Roboto-Condensed";
    display: grid;
    place-items: center start;
}
.icon-adicionais{
    width: 20%;
    display: grid;
    place-items: center;
}
.box-iconAdd{
    height: 30px;
    width: 30px;
    display: grid;
}
.informacoes-quantidade{
    height: 50%;
    display: flex;
}
.caixa-quantidades{
    width: 120px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ff706b;
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
    font-size: 14px;
}
.obrigatorio{

}
.maximo{
}   
.escolhido{
}
.AdicionaisList{
    height: auto;
    width: auto;
}
.Card-Adicionais{
    margin: 3px;
    display: flex;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: white;
    place-items: center;
    height: 40px;
}
.box-descricao-adicional{
    width: 60%;
}
.adicional-nome{
    font-size: 14px;
    font-family: "Roboto-Light";
    margin-left: 10px;
}
.adicional-valor{
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
}
.box-valor-adicional{
    width: 20%;
}
.box-funcao-adicional{
    width: 20%;
    display: grid;
    place-items: center;
}
.Card-Adicionais-Botoes{
    width: 30%;
    display: flex;
    place-items: center;
}
.btn-quantia-adicionais{
    width: 40%;
    display: grid;
    place-items: center;
}
.quantia-adicionais{
    width: 20%;
    display: grid;
    place-items: center;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
/* observacoes */
.titulo-observacoes{
    display: grid;
    place-items: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #DBDBDB;
    font-family: "Roboto-Bold";
}
.ObservacoesAdicionais-box{
    height: 60px;
    margin: 5px;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.ObservacoesAdicionais-text{
    font-size: 14px;
    height: 90%;
    width: 98%;  
    border: none;
    background-color: transparent;
    color: black;
    font-family: "Roboto-Light";
}
.ObservacoesAdicionais-text:focus-visible {
    outline: none;
}
.barra-pagarAdicionais{
    background-color: aquamarine;
    display: flex;
    margin: 8px;
    border-radius: 5px;
    height: 50px;
}
.pagarAdicionais-text{
    width: 70%;
    display: grid;
    place-items: center;
}
.btn-adicionarAdicionais{
    border: none;
    appearance: none;
    background-color: transparent;
    font-family: "Roboto-Bold";
    font-size: 25px;
    color: black;
    margin-left: 10px;
}
.pagarAdicionais-valor{
    width: 30%;
    font-size: 20px;
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
}