@font-face {
    font-family: "Roboto-Light";
    src: url('../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../fontes/roboto/Roboto-Condensed.ttf');
}
.box-adicionais{
    display: flex;
    background-color: #EFEFEF;
    height: 60px;
    font-family: "Roboto-Condensed";
    margin-top: 5px;
}
.adicionais-info{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.adicionais-titulo{
    height: 50%;
    padding-left: 10px;
    font-family: "Roboto-Condensed";
    display: grid;
    place-items: center start;
}
.icon-adicionais{
    width: 15%;
    display: grid;
    place-items: center;
}
.box-iconAdd{
    height: 30px;
    width: 30px;
    display: grid;
}
.informacoes-quantidade{
    height: 50%;
    display: flex;
}
.caixa-quantidades{
    width: auto;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ff706b;
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
    font-size: 14px;
}
.AdicionaisList{
    height: auto;
    width: auto;
}
.Card-Adicionais{
    margin: 3px;
    display: flex;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: white;
    place-items: center;
    height: 40px;
}
.mudarCorCard{
    background-color: rgb(85, 212, 85);
}
.box-descricao-adicional{
    width: 50%;
}
.adicional-nome{
    font-size: 14px;
    font-family: "Roboto-Light";
    margin-left: 10px;
}
.adicional-valor{
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
}
.box-valor-adicional{
    width: 20%;
}
.box-funcao-adicional{
    width: 30%;
    display: grid;
    place-items: center;
}
.Card-Adicionais-Botoes{
    width: 100%;
    display: flex;
    place-items: center;
}
.quantia-adicionais{
    width: 20%;
    display: grid;
    place-items: center;
}

.btn-quantia-adicionais{
    width: 40%;
    display: flex;
    justify-content: center;
}

.arrow {
    border: none;
    background-color: transparent;
}
.iconePlus {
    min-height: 40px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/iconeMais.png');
    background-size: 100% 100%;
}
.iconeMinus {
    min-height: 40px;
    aspect-ratio: 1 / 1;
    background-image: url('../imagens/iconeMenos.png');
    background-size: 100% 100%;
}
/* observacoes */
.titulo-observacoes{
    display: grid;
    place-items: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #DBDBDB;
    font-family: "Roboto-Bold";
}
.ObservacoesAdicionais-box{
    height: 60px;
    margin: 5px;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.ObservacoesAdicionais-text{
    font-size: 14px;
    height: 90%;
    width: 98%;  
    border: none;
    background-color: transparent;
    color: black;
    font-family: "Roboto-Light";
}
.ObservacoesAdicionais-text:focus-visible {
    outline: none;
}
.barra-pagarAdicionais{
    background-color: aquamarine;
    display: flex;
    margin: 8px;
    border-radius: 5px;
    height: 50px;
}
.pagarAdicionais-text{
    width: 60%;
    display: grid;
    place-items: center;
}
.btn-adicionarAdicionais{
    border: none;
    appearance: none;
    background-color: transparent;
    font-family: "Roboto-Bold";
    font-size: 16px;
    color: black;
    margin-left: 10px;
}
.pagarAdicionais-valor{
    width: 40%;
    font-size: 18px;
    display: grid;
    place-items: center;
    font-family: "Roboto-Bold";
}
