.Totalpizza-box{
    width: 100%;
    display: flex;
}
.totalpizza{
    width: 60%;
    display: grid;
    place-items: center;
    
}
.totalpizza-btn{
    width: 40%;
    display: grid;
    place-items: center;
   
}