@font-face {
    font-family: "Roboto-Light";
    src: url('../../..//fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../../..//fontes/roboto/Roboto-Bold.ttf');
}
.btnEntrega{
    height: 40px;
    width: 50px;
    margin-right: 20px;
    background-color: #fc740d;
    border: none;
    border-radius: 5px;
    color: white;
}
.entregaTitulo{
    justify-content: space-between;
}
.listaEndereço{
    display: flex;
    flex-direction: column;
}
.caixaEndereco{
    margin: 5px;
    font-family: "Roboto-Light";
    font-size: 14px;
    border-left: solid;
    border-color: #fc740d;
    border-width: 5px;
    border-radius: 5px;
}
.textoEndereco{
    margin-left: 5px;
}
.btnCaixaEditar{
}
.btnEditar{
    width: 100%;
    border: none;
    background-color: #fc740d;
    height: 20px;
    border-radius: 0 0 5px 0;
}