.cartHeaderTopo{
    position: fixed;
    top: 0;
    background-color: #fc740d;
    height: 40px;
    width: 100%;
    display: flex;
    z-index: 999;
    justify-content: space-around;
}
.logo-resta{
    display: block;
    height: 100px;
    width: 120px;
    margin: auto;
    padding-top: 50px;
}
.cartHeaderBody{
    margin-top: 40px;
    min-height: 150px;
    background-image: url('../../imagens/banner1.fw.webp');
    background-size: 100% 100%;
}
.logo-garline-header {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
}
.logo-garline {
    aspect-ratio: 1 / 1;
    height: 20px;
    background-image: url('../../imagens/logo.fw.png');
    background-size: 100% 100%;
}
.caixa-seta{
    display: grid;
    place-items: center;
}
.setaEsquerda{
    height: 35px;
    aspect-ratio: 1 / 1;
    background-image: url('../../imagens/setaEsquerda.png');
    background-size: 100% 100%;
}