@font-face {
    font-family: "edosz.ttf";
    src: local("edosz.ttf"),
     url("../../fonts//edosz.ttf") ;
    }
*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: auto;
}
.container{
    width: auto;
    height: 150px;
    padding: 7px;
}
.info-table{
    width: 100%;
    height: 100%;
    display: grid;
    background-image: url("https://img.freepik.com/vetores-gratis/poster-de-fundo-preto-de-fast-food_1284-14589.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: -10px -10px 15px 0px #FBFBFB, 10px 10px 15px 0px #040404;
}
.theader{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    font-family: "edosz.ttf";
    font-size: 20px;
}
.item-1{
    display: grid;
    place-items: center;
}
.item-2{
    padding-left: 40px;
}
.tbody{
    display: grid;
    place-items: center;
    font-family: "edosz.ttf";
    font-weight: 600;
    font-size: 50px;
}