.barradenavegacao{
    display: flex;
    place-items: center;
    height: 50px;
    width: 100%;
    overflow-x: auto;
}
.nav-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    place-items: center;
    height: 50px;
    width: 100%;
    overflow-x: auto;
}
.barra-nav-items{
    width: 30%;
    padding: 20px;
    display: grid;
    place-items: center;
    font-size: 16px;
}