
.navbar-menu {
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    padding-top: 10px;
}
.nav-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.itembarraDeDirecionamento {
    display: grid;
    place-items: center;
    font-size: 15px;
    font-weight: 600;
}