
.navbar-menu {
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    padding-top: 10px;
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 3%, rgba(31, 215, 232, 0.873) 95%);
}
.nav-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.itembarraDeDirecionamento {
    display: grid;
    place-items: center;
    font-size: 16px;
    font-weight: 400;
}
@media(min-width: 850px){
    .itembarraDeDirecionamento{
        font-size: 20px;
        font-weight: 600;
    }
}
