
.navbar-menu {
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    place-items: center;
}
.nav-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.itembarraDeDirecionamento {

}