.Total-Add-Pizza{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.item-valor-1{
    display: grid;
    place-items: center;
    height: auto;
    width: 90%;
    border-radius: 10px;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.total-add-btn{
    display: grid;
    place-items: center;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}