.lista-produtos{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    
}
.card-produtos{
    height: 25%;
    overflow: hidden;
    margin: 5px;

    --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 0.74rem) calc(100% - 0.74rem) no-repeat,
    radial-gradient(farthest-side,#000 98%,#0000) 0 0/0.8rem 0.8rem round;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.box-produtos{
    display: flex;
    min-height: 120px;
}
.produtos-info{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.produto-nome{
    height: 60%;
    display: grid;
    place-items: center;
    font-size: 15px;
    word-break: normal;
}
.item-nome{
    width: 80%;
    display: grid;
    place-items: center;
}
.produto-valor{
    height: 40%;
    display: grid;
    place-items: center;
}
.produtos-img{
    width: 30%;
    background-image: url('https://media.gettyimages.com/id/1295796231/pt/foto/cheese-burger-with-bacon-on-black-dark-background.jpg?s=170667a&w=gi&k=20&c=Cwd1wP8q9UIyJ560nuuGh-8sfPy6JH1N7g5wXzKGqIw=');
    background-size: 100% 100%;
    border-radius: 0 8px 8px 0;
}
