.lista-produtos{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.card-produtos{
    height: 25%;
    overflow: hidden;
}
.box-produtos{
    display: flex;
    min-height: 120px;
    margin: 5px;
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.produtos-info{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.produto-nome{
    height: 50%;
    display: grid;
    place-items: center;
}
.produto-valor{
    height: 50%;
    display: grid;
    place-items: center;
}
.produtos-img{
    width: 30%;
    background-image: url('https://media.gettyimages.com/id/1295796231/pt/foto/cheese-burger-with-bacon-on-black-dark-background.jpg?s=170667a&w=gi&k=20&c=Cwd1wP8q9UIyJ560nuuGh-8sfPy6JH1N7g5wXzKGqIw=');
    background-size: 100% 100%;
    border-radius: 0 8px 8px 0;
}