@font-face {
    font-family: "edosz.ttf";
    src: local("edosz.ttf"),
     url("../../../fonts//edosz.ttf") ;
    }
.caixa-lista{
    display: grid;
    width: auto;
    height: auto;
    padding-top: 40px;
    place-items: center;
    font-family: "edosz.ttf";
}
.titulo-lista{
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: 600;
}
.caixa-css{
    width: 95%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.caixa-items{  
    display: flex;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    box-shadow: inset 0px 11px 8px -10px rgb(0, 0, 0, 1), inset 0px -11px 8px -10px rgba(0,0,0,1);
}
.caixa-1{
    width: 40%;
}
.caixa-2{
    width: 25%;
}
.caixa-3{
    width: 35%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEtjamTtz6OXfHkGE_XwfZx1fdNPZFlTh9BA&usqp=CAU");
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}
.item-nome{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}
.item-descricao{
    font-size: 12px;
    padding-left: 20px;
}
.item-valor{
    display: grid;
    place-items: start center;
    padding: 8px;
}
.item-botao{
    display: grid;
    place-items: center;
    padding: 5px;
}
.corpo-adicionais{
    width: 100%;
    height: auto;
}