.box-subgrupo{
    display: flex;
    flex-direction: column;
}
.subgrupos{
    height: 35px;
    display: flex;
}
.subgrupo-titulo{
    width: 80%;
    margin: 5px;
    display: grid;
    place-items: center start;
}
.subgrupo-icon{
    width: 20%;
    display: grid;
    place-items: center;
}
.listProdutos-subgrupos{
    width: auto;
    height: auto;
}