.box-subgrupos{
    margin-bottom: 5px;
}
.subgrupos{
    height: 35px;
    display: flex;
    background-color: rgb(228, 67, 67);
}
.subgrupo-titulo{
    width: 80%;
    margin: 5px;
    display: grid;
    place-items: center start;
}
.subgrupo-icon{
    width: 20%;
    display: grid;
    place-items: center;
}
.listProdutos-subgrupos{
    width: auto;
    height: auto;
}
