@font-face {
    font-family: "Roboto-Bold";
    src: url('../../../../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Medium";
    src: url('../../../../fontes/roboto/Roboto-Medium.ttf');
}
.ListaPedidos{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.TituloLista{
    height: 40px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: 5px;
}
.TituloLista-nome{
    display: grid;
    place-items: center;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Roboto-Medium";
}
.TituloLista-numero{
    display: grid;
    place-items: center;
    margin-right: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
}
.listaPedido-card{
    display: flex;
    flex-direction: column;
    margin: 15px;
    height: 90px;
    border: solid;
    border-bottom: none;
    border-right: none;
    border-color: rgb(240, 238, 238);
    border-radius: 5px 0 0 0;
    box-shadow: 4px 8px 6px 0px #8f8f8f;
}
.pedidoCard-linha{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.linhaEsquerda{
    margin-left: 10px;
    display: grid;
    place-items: center;
    font-family: "Roboto-Medium";
    font-size: 14px;
}
.linhaDireita{
    margin-right: 10px;
    display: grid;
    place-items: center;
    font-family: "Roboto-Medium";
    font-size: 14px;
}
.iniciado{
    background-color: rgb(255, 255, 0);
}
.pendente{
    background-color: rgb(248, 48, 48);
    color: white;
}
.confirmado{
    background-color: rgb(48, 255, 48);
}
.cancelado{
    background-color: rgb(56, 56, 56);
    color: white;
}
.statusPedidos{
    border-radius: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    margin-right: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto-Medium";
    font-size: 14px;
}
.barraAtalhoTerminal{
    display: flex;
    border-radius: 5px;
    background-color: rgb(185, 185, 185);
    height: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.caixaAtalhoTerminal{
    display: flex;
    flex-direction: column;
}
.atalhoTerminalNome{
    display: grid;
    place-items: center;
    font-family: "Roboto-Medium";
    font-size: 14px;
}
.linhaBaixo{
}

.containerCheckTerminal input {
    display: grid;
    place-items: center;
}
.containerCheckTerminal {
    display: grid;
    place-items: center;
}   
/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #2196F3;
    border-radius: 1rem 0rem 1rem;
    transform: rotate(45deg);
    transition: all .5s ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.containerCheckTerminal input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.containerCheckTerminal .checkmark:after {
    left: 0.30em;
    top: 0.18em;
    width: 0.25em;
    height: 0.5em;
    border: solid #2196F3;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(-5deg);
    animation: upAnimate 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
   }
   @keyframes upAnimate {
    from {
     transform: translate(-20px, -20px) rotate(-5deg);
     opacity: 0;
    }
   
    to {
     transform: translate(0, 0) rotate(-5deg);
     opacity: 1;
    }
   }