@font-face {
    font-family: "Roboto-Bold";
    src: url('../../fontes/roboto/Roboto-Bold.ttf');
  }
.footer{   
    background-color: #DBDBDB;
    display: grid;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
.text-footer{
    font-family: "Roboto-Bold";
    font-size: 14px;
    margin: 3px;
}
