@font-face {
    font-family: "Roboto-Light";
    src: url('../../fontes/roboto/Roboto-Light.ttf');
  }
.footer{   
    background-color: #DBDBDB;
    display: grid;
    text-align: center;
}
.text-footer{
    font-family: "Roboto-Light";
    font-size: 12px;
}
