@font-face {
    font-family: "edosz.ttf";
    src: local("edosz.ttf"),
     url("../../../../../fonts/edosz.ttf") ;
    }
.navbar-pizza{
    width: auto;
    height: auto;
    display: flex;
    place-items: center;
}
.nav-pizza-top{
    position: fixed;
    top: 0;
    width: auto;
    z-index: 999;
}
.navbar-pizza-item{
    width: 20%;
    display: grid;
    place-items: center;
    padding-top: 10px;
    font-family: "edosz.ttf";
    font-size: 17px;
}