.navbar-pizza{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}
.nav-pizza-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar-pizza-item{

}