@font-face {
   font-family: "Roboto-Bold";
   src: url('../../../../../fontes/roboto/Roboto-Bold.ttf');
   font-family: "Roboto-Light";
   src: url('../../../../../fontes/roboto/Roboto-Light.ttf');
}
.infos{
   margin-top: 30px;
}
.usuarioInfos{
   margin: 5px;
   background-color: #fc740d;
   border-radius: 5px;
}
.fotoPerfil{
   position: absolute;
   left: 15px;
   top: 150px;
   border: solid;
   border-color: white;
   max-width: 60px;
   max-height: 60px;
   border-radius: 50%;
}
.itemInfos{
   padding: 5px;
   display: grid;
   place-items: center;
   font-family: "Roboto-Bold";
}
.caixaiconeLogout{
   position: absolute;
   background-color: white;
   border-radius: 50%;
   right: 15px;
   top: 160px;
   display: grid;
   place-items: center;
}
.iconeLogout{
   height: 50px;
   aspect-ratio: 1 / 1;
   background-image: url('../../../../../imagens/iconeDesligar.png');
   background-size: 100% 100%;
}
.listaInfos{
   background-color: #fc740d;
}
.infoEmail{
   margin-left: 5px;
   padding: 3px;
   font-family: "Roboto-Light";
   font-size: 14px;
}