.container {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    display: grid;
    place-items: center;
}
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 15px;
}
.container input:checked ~ .checkmark {
    background: #fff;
    box-shadow: -10px -10px var(--spread) 0px #0aff02, 0 -10px var(--spread) 
    0px #0aff02, 10px -10px var(--spread) 0px #0aff02, 10px 0 var(--spread) 
    0px #0aff02, 10px 10px var(--spread) 0px #0aff02, 0 10px var(--spread) 
    0px #0aff02, -10px 10px var(--spread) 0px #0aff02;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
    animation: checkmark 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #0aff02;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
@keyframes checkmark {
    from {
      transform: rotate(-45deg) scale(0);
    }
  
    to {
      transform: rotate(45deg) scale(1);
    }
}
.container span {
    margin-left: 2em;
    color: black;
    font-weight: bold;
}