.card-btn-continuar{
    position: fixed;
    bottom: 50px;
    left: 0;
    height: 50px;
    width: 100px;
    background-color: rgb(245, 98, 98);
    border-radius: 0 50px 50px 0;
    display: grid;
    place-items: center;
}
.btn-continuar{
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.card-total-pagar{
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 110px;
    right: 0;
    height: 50px;
    width: 100px;
    background-color: rgb(245, 98, 98);
    border-radius: 50px 0 0 50px;
}
.card-btn-pagar{
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 50px;
    right: 0;
    height: 50px;
    width: 100px;
    background-color: rgb(245, 98, 98);
    border-radius: 50px 0 0 50px;
}
.btn-pagar{
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.totalcart{
    display: grid;
    place-items: center;
}