.cart-item-main{
    width: 100%;
    height: 100%;   
}
.cart-item-body{
    padding: 10px;
    display: flex;
}
.cart-bloco-1{
    width: 100%;
}
.cart-bloco-caixa-1{
    display: flex;
}
.cart-caixa-1{
    display: grid;
    width: 60%;
}
.cart-caixa-item-1{
    display: grid;
    place-items: center;
}
.cart-caixa-item-2{
    padding-left: 10px;
}
.cart-caixa-2{
    width: 40%;
    padding-left: 5px;
}
.btn-remove{
    display: grid;
    place-items: center;
    padding-left: 25px;
}
.bloco-bt-quan{
    display: grid;
}
.bloco-bt-quan-1{
    display: flex;
}
.btn-quant{
    width: 40%;
}
.quanti-quant{
    width: 20%;
    display: grid;
    place-items: center;
}
.bloco-total{
    display: grid;
    place-items: center;
}
