.cart-main{
    width: auto;
    height: 100%;
    min-height: 100vh;
}
.cart-items{
    padding: 5px;
    width: auto;
    height: auto;
}
.bloco-cart{
    width: auto;
    height: 50px;
    display: flex;
    padding: 5px;
}
.cart-nome{
    width: 20%;
}
.cart-descricao{
    width: 40%;
}
.cart-total{
    width: 20%;
}
.cart-botao{
    width: 10%;
}