.cart-main{
    width: auto;
    height: 100%;
    min-height: 83vh;
}
.cart-items{
    padding: 7px;
    width: auto;
    height: auto;
}
.bloco-cart{
    height: 100px;
    display: flex;
}
.cart-bloco-1{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.cart-nome{
    display: grid;
    place-items: center;
    height: 20%;
}
.cart-descricao{
    height: 80%;
    padding-left: 10px;
}
.cart-bloco-2{
    width: 60%;
    display: grid;
}
.cart-bloco-3{
    width: 15%;
    display: grid;
    place-items: center;
}
.botoes-quantity{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.total{
    display: grid;
    place-items: center;
    padding-left: 5px;
}
.botao-quant{
    width: 30px;
    height: 20px;
}
.bloco-bt-quan{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}