@font-face {
    font-family: "Roboto-Light";
    src: url('../../../../../fontes/roboto/Roboto-Light.ttf');
    font-family: "Roboto-Bold";
    src: url('../../../../../fontes/roboto/Roboto-Bold.ttf');
    font-family: "Roboto-Condensed";
    src: url('../../../../../fontes/roboto/Roboto-Condensed.ttf');
}
.titulo-SaboresPizza{
    display: grid;
    place-items: center;
    font-size: 16px;
    background-color: #DBDBDB;
    height: 50px;
    font-family: "Roboto-Bold";
    margin-bottom: 5px;
}
.Sabores-Quantidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.QTD{
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: #ff706b;
    margin: 5px;
    font-family: "Roboto-Bold";
    border-radius: 5px;
}
.grupo-Sabores{
    display: flex;
    place-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    height: 35px;
    background-color: #DBDBDB;
    font-family: "Roboto-Condensed";
}
.text-Sabores{
    width: 80%;
    margin-left: 20px;
}
.icon-Sabores{
    width: 20%;
    display: grid;
    place-items: center;
}