.lista{
    padding-top: 40px;
    display: grid;
    width: auto;
    height: auto;
    place-items: center;
}
.titulo-lista{
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: 600;
}
.box-item-List{
    display: flex;
    max-height: 130px;
}
.item-List-info{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.bloco-item-info{
    height: 25%;
    padding: 5px;
    display: flex;
}
.box-name{
    width: 80%;
}
.item-info-name{
    padding: 5px;
}
.item-info-valor{
    display: grid;
    place-items: center;
    width: 60%;
}
.item-info-descricao{
    padding-left: 5px;
    display: block;
    max-height: 100%;
    scroll-behavior: auto;
    overflow-y: scroll;
}
.box-List-img{
    width: 40%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEtjamTtz6OXfHkGE_XwfZx1fdNPZFlTh9BA&usqp=CAU");
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}
.item-img{
    width: auto;
    height: 100%;
    display: grid;
    place-items: end start;
}
.icon-btn {
    width: 35px;
    height: 35px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}
.btn-azul-estiloso{
    font-size: 1.2rem;
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 3%, rgba(31, 215, 232, 0.873) 95%);
}
