.carde{ 
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 98%;
    height: auto;
    transition: all 0.2s;
    position: relative;
} 
.carde-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
} 
@media(min-width: 1024px){
    .carde{
        width: 32%;
    }
    .carde-inner{
        width: 98%;
    }
}